<div [ngStyle]="{ display: 'flex' }">
  <div>
    <!-- Example with strings -->
    <h3>String items:</h3>
    <div [ngStyle]="{ display: 'flex' }">
      <div [ngStyle]="{ width: '200px', 'margin-right': '10px' }">
        <ng2-sortable
          [(ngModel)]="itemStringsLeft"
          [itemStyle]="itemStyle"
          [itemActiveStyle]="itemActiveStyle"
          [placeholderItem]="'Drag here'"
          [placeholderStyle]="placeholderStyle"
          [wrapperStyle]="wrapperStyle"
        ></ng2-sortable>
        <pre>model: {{ itemStringsLeft | json }}</pre>
      </div>
      <div [ngStyle]="{ width: '200px' }">
        <ng2-sortable
          [(ngModel)]="itemStringsRight"
          [itemStyle]="itemStyle"
          [itemActiveStyle]="itemActiveStyle"
          [placeholderItem]="'Drag here'"
          [placeholderStyle]="placeholderStyle"
          [wrapperStyle]="wrapperStyle"
        ></ng2-sortable>
        <pre>model: {{ itemStringsRight | json }}</pre>
      </div>
    </div>
  </div>

  <div [ngStyle]="{ 'margin-left': '50px' }">
    <!-- Example with objects -->
    <h3>Complex data model:</h3>
    <div [ngStyle]="{ display: 'flex' }">
      <div [ngStyle]="{ width: '200px', 'margin-right': '10px' }">
        <ng2-sortable
          [(ngModel)]="itemObjectsLeft"
          [fieldName]="'name'"
          [itemStyle]="itemStyle"
          [itemActiveStyle]="itemActiveStyle"
          [placeholderItem]="'Drag here'"
          [placeholderStyle]="itemStyle"
          [wrapperStyle]="wrapperStyle"
        ></ng2-sortable>
        <pre>model: {{ itemObjectsLeft | json }}</pre>
      </div>
      <div [ngStyle]="{ width: '200px' }">
        <ng2-sortable
          [(ngModel)]="itemObjectsRight"
          [fieldName]="'name'"
          [itemStyle]="itemStyle"
          [itemActiveStyle]="itemActiveStyle"
          [placeholderItem]="'Drag here'"
          [placeholderStyle]="itemStyle"
          [wrapperStyle]="wrapperStyle"
        ></ng2-sortable>
        <pre>model: {{ itemObjectsRight | json }}</pre>
      </div>
    </div>
  </div>
</div>
<div>
</div>