<div class="row">
  <div class="col-lg-6" style="margin-top: 10px;">
    <h4>Default</h4>
    <n2s-pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></n2s-pagination>
    <n2s-pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="n2s-pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></n2s-pagination>
    <n2s-pagination [direction-links]="false" [boundaryLinks]="true" [totalItems]="totalItems"
                [(ngModel)]="currentPage"></n2s-pagination>
    <n2s-pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
                (numPages)="smallnumPages = $event"></n2s-pagination>
    <pre class="card card-block card-header">The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
    <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button>
  </div>
  <hr class="visible-md visible-xs hidden-lg-up">
  <div class="col-lg-6" style="margin-top: 10px;">
    <h4>Pager</h4>
    <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pager>

    <hr/>
    <h4>Limit the maximum visible buttons</h4>
    <n2s-pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="n2s-pagination-sm"
                [boundaryLinks]="true"></n2s-pagination>
    <n2s-pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="n2s-pagination-sm"
                [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></n2s-pagination>
    <pre class="card card-block card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
  </div>
</div>
