<h3>Static</h3>
<div class="row">
  <div class="col-sm-4">
    <slider value="55"></slider>
  </div>
  <div class="col-sm-4">
    <slider class="progress-striped" value="22" type="warning">22%</slider>
  </div>
  <div class="col-sm-4">
    <slider class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></slider>
  </div>
</div>

<hr/>
<h3>Dynamic
  <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
</h3>
<slider [max]="max" [value]="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
</slider>

<small><em>No animation</em></small>
<slider [animate]="false" [value]="dynamic" type="success"><b>{{dynamic}}%</b></slider>

<small><em>Object (changes type based on value)</em></small>
<slider class="progress-striped active" [value]="dynamic" [type]="type">{{type}} <i *ngIf="showWarning">!!!
  Watch out !!!</i></slider>

<hr/>
<h3>Stacked
  <button type="button" class="btn btn-sm btn-primary" (click)="randomStacked()">Randomize</button>
</h3>
<bs-progress>
  <slider-bar *ngFor="let baz of stacked" [value]="baz.value" [type]="baz?.type">
    <span *ngIf="baz.value > 5">{{baz?.value}}%</span>
  </slider-bar>
</bs-progress>
