<!--h3>Static</h3>
<div class="row">
  <div class="col-sm-1">
    <slider [value]="50" orientation="vertical" selection="after"></slider>
  </div>
  <div class="col-sm-3">
    <slider [value]="50"></slider>
  </div>
</div>

<hr/>
<h3>Dynamic
  <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="changeMax()">Change max</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="changeMin()">Change min</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="toggleStep()">Toggle step</button>
</h3>
<slider ngClass="colored" [max]="max" [min]="min" [step]="step" [value]="dynamic"></slider>

<hr/>
<h3>Range
  <button type="button" class="btn btn-sm btn-primary" (click)="changeMax()">Change max</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="changeMin()">Change min</button>
  <button type="button" class="btn btn-sm btn-primary" (click)="toggleStep()">Toggle step</button>
</h3>
<div class="sliders-block">
  <slider ngClass="colored" selection="all" type="range" [max]="max" [min]="min" [step]="step"
          [value]="[20, 100]"></slider>
  <br><br>
  <slider ngClass="colored" type="range" tooltipSplit="true" [value]="[50, 80]"></slider>
</div>

<hr/>
<h3>Handles</h3>
<div class="sliders-block">
  <slider ngClass="slider1" [value]="50" handleType="square"></slider>
  <br><br>
  <slider ngClass="slider2" selection="after" [value]="50" handleType="triangle"></slider>
  <br><br>
  <slider ngClass="slider3" [value]="50" [step]="10"></slider>
  <br><br>
  <slider ngClass="slider4" [value]="50" handleType="custom"></slider>
</div-->

<hr/>
<h3>Ticks and labels</h3>
<div class="row">
  <div class="col-sm-2">
    <slider [value]="4" tooltipMode="hide"></slider>
  </div>
</div>

<div class="row" *ngFor="let num of [1,2,3,4,5]">{{ num }}</div>

<!--hr/>
<h3>Tooltips</h3>
<div class="row">
  <div class="col-sm-2">
    <slider [value]="20" tooltipPosition="bottom"></slider>
    <br><br><br>
    <slider [value]="70" tooltipMode="always"></slider>
  </div>
  <div class="col-sm-2">
    <slider [value]="20" tooltipPosition="left" orientation="vertical"></slider>
    <slider [value]="70" orientation="vertical"></slider>
  </div>
</div-->
