<html>
  <nav class="nav-dark">
    <div class="nav-dark-border">
      <div class="nav-dark-border-upper">
        <div class="profile-pic">
         <div><img class="profile-pic-img" src="assets/emptyPerson.png" (click)="changeProfilePic()"></div> <!--profile image-->
        </div>
        <div class="profile-name">
           <div class="name">Name</div>
        </div>
      </div>
      <div class="nav-dark-border-lower">
        <ul class="nav-list">
          <li class="nav-list-item"><a href="#" class="nav-list-link"><span class="link-block">Home</span></a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link"><span class="link-block">About</span></a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link"><span class="link-block">Hobbies</span></a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link"><span class="link-block">Education</span></a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link"><span class="link-block">Documents</span></a></li>
        </ul>
      </div>
    </div>  
  </nav>
  </html>