<div (click)="$event.preventDefault()">
    <p>Add / remove new tabs by manipulating tabs array:</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewTab()">
      Add new tab
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs = []"  *ngIf="tabs.length">
      Remove all tabs
    </button>
  <hr/>
  <tabset>
    <tab heading="Static title">
      <div>
        <h4>Static content</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labodolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaodo.
        </p>
      </div>
    </tab>
    <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      <div>
        <h4>{{tabz.title}}</h4>
        <p>{{tabz?.content}}</p>
      </div>
    </tab>
  </tabset>
</div>
