<div class="row">
  <div class="col-md-4">
    <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
      <slide *ngFor="let slidez of slides; let index=index">
        <img [src]="slidez.image" style="margin:auto;">

        <div class="carousel-caption">
          <h4>Slide {{index}}</h4>

          <p>{{slidez.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="col-md-6">
    <button type="button" class="btn btn-info"
            (click)="addSlide()">Add Slide
    </button>

    <button type="button" class="btn btn-info"
            (click)="selectSlide(2)">Select #3
    </button>

    <button type="button" class="btn btn-info"
            (click)="removeSlide()">Remove Current
    </button>
    <button type="button" class="btn btn-info"
            (click)="removeSlide(2)">Remove #3
    </button>
    <br>

    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="noWrapSlides">
        Disable Slide Looping
      </label>
    </div>

    Interval, in milliseconds: <input type="number" class="form-control" [(ngModel)]="myInterval">
    <br/>Enter a negative number or 0 to stop the interval.
  </div>
</div>
