.nav-dark
{
    width:20%;
    height:100em;
    background-color:#272727;
    margin-left:-0.2em;
}
.nav-dark-border
{
    height:100em;
    border:3px solid grey;
}
.profile-pic-img
{
    height:60%;
    width:60%;
    padding:15%;

    border-radius:50%;
}
.profile-pic-img:hover
{
    border:2px solid grey;
    opacity:0.5;
}
.profile-name
{
    padding-top:-15%;
    padding-left:30%;
    color:grey;
    font-size:150%;
    margin-bottom:20%;
}
.nav-list-item
{
    list-style-type:none;

}
.nav-list-link:link
{
    text-decoration:none;
    color:grey;
}
.nav-list-link:hover
{
    text-decoration:none;
    color:white;
}
.link-block
{
    padding-top:5%;
    padding-bottom:5%;
    background-color:white;
    display:block;
    text-align:center;
    margin-bottom:5%;
    position:sticky;
    margin-left:-18%;
}
.link-block:hover
{
    background-color: #747474;
}
.nav-list-lin:visited
{
    background-color: #272727;
}
