# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
npm-debug.log

# type script artifacts
/typings

# WebStorm
.idea

# ignore build and dist for now
/bundles
/demo-build
/dist
/coverage

# ignore incline compiling
/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts
/components/**/*.js
/components/**/*.js.map
/components/**/*.d.ts
ng2-bootstrap.js
ng2-bootstrap.d.ts
ng2-bootstrap.js.map
/logs
