# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
npm-debug.log

# type script artifacts
/typings

# WebStorm
.idea
*.iml

# ignore build and dist for now
/build
/dist

# ignore incline compiling
.pub
**/packages
pubspec.lock
.packages
