.idea
gulp-tasks
logs

# typings
tsd.d.ts
typings

# testing
karma.conf.js
test.bundle.js
coverage

# demo build
demo
demo-build
webpack.config.js

# source typescript
ng2-bootstrap.ts
components/**/*.ts
