language: node_js
node_js:
  - "5"
  - "4"

before_install:
- npm install -g npm@latest

script:
- npm run install:typings
- npm test

addons:
  # sauce labs tunel connector (read more https://docs.travis-ci.com/user/sauce-connect/ )
  sauce_connect: true
  firefox: "42.0"
  apt:
    sources:
    - ubuntu-toolchain-r-test
    # required by node-gyp to build some packages
    packages:
    - g++-4.8
