<div id="top-menu">
  <div class="title">
    <h2>ng2-bootstrap</h2>
  </div>

  <div id="mobile-main-menu">
    <img src="assets/images/menu-left.svg" alt="">
  </div>

  <div class="menu-right">
    <div class="git-hub">
      <iframe frameborder="0" scrolling="0"
              src="https://ghbtns.com/github-btn.html?user=valor-software&repo=ng2-bootstrap&type=star&count=true"></iframe>
      <iframe frameborder="0" scrolling="0"
              src="https://ghbtns.com/github-btn.html?user=valor-software&repo=ng2-bootstrap&type=fork&count=true"></iframe>
    </div>

    <div class="logo">
      <a href="">
        <img src="/assets/images/logo.png" alt="">
      </a>
    </div>

    <div id="mobile-top-menu">
      <img src="/assets/images/menu-right.svg" alt="">
    </div>
  </div>
</div>
