<template #itemTemplate let-item="item" let-index="index">
  <div>{{index}}: {{item.name}}</div>
  <div>
    <a class="btn btn-default" *ngIf="item.url.startsWith('http')" [href]="item.url" target="_blank">know more</a>
    <span *ngIf="!item.url.startsWith('http')">{{item.url}}</span>
  </div>
</template>

<div class="col-xs-12 col-md-12">
  <label><input type="checkbox" [(ngModel)]="disableItems"> disable items {{disabledItems | json}}</label><br>
  <label><input type="checkbox" [(ngModel)]="fixDisabledItems"> fix disabled items on their positions</label>
</div>

<div class="col-xs-12 col-md-12">
  <bs-sortable
    [(ngModel)]="items"
    [itemTemplate]="itemTemplate"
    [isItemDisabled]="isItemDisabled"
    [fixDisabledItems]="fixDisabledItems"
    dropZoneGroup="customItemTemplate"
    itemClass="sortable-item custom-item-template"
    itemActiveClass="sortable-item-active"
    itemDisabledClass="sortable-item-disabled"
    placeholderItem="Drag here"
    placeholderClass="sortable-item-placeholder"
    wrapperClass="sortable-wrapper"
  ></bs-sortable>
  <!--<pre>model: {{ items | json }}</pre>-->
</div>
