<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular2 Bootstrap</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Angular2 Bootstrap">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="author" href="https://github.com/luisvt/ng2_strap/graphs/contributors">

  <!--link to bootstrap.css-->
  <link rel="stylesheet" href="packages/bootstrap/css/bootstrap.css">

  <script type="application/dart" src="main.dart"></script>
  <script src="packages/browser/dart.js"></script>

  <style media="screen">
    .header {
      background-color: #0143A3;
      background: -webkit-linear-gradient(#0143A3, #0273D4);
      background: linear-gradient(#0143A3, #0273D4);
      color: #FFF;
      padding: 30px;
    }

    section {
      padding-top: 30px;
    }
  </style>
</head>
<body>
<carousel-demo>
  Loading...
</carousel-demo>
</body>
</html>
