<demo-section [name]="name" [src]="src">
  <p>A slideshow component for cycling through elements—images or slides of text—like a carousel. <em>Nested carousels are not supported.</em></p>

  <h2>Contents</h2>
  <ul>
    <li><a routerLink="." fragment="usage">Usage</a></li>
    <li><a routerLink="." fragment="examples">Examples</a>
      <ul>
        <li><a routerLink="." fragment="captions">Optional captions</a></li>
        <li><a routerLink="." fragment="config">Configuring defaults</a></li>
        <li><a routerLink="." fragment="dynamic">Dynamic Slides</a></li>
      </ul>
    </li>
    <li><a routerLink="." fragment="api-reference">API Reference</a>
      <ul>
        <li><a routerLink="." fragment="carousel-component">CarouselComponent</a></li>
        <li><a routerLink="." fragment="slide-component">SlideComponent</a></li>
        <li><a routerLink="." fragment="carousel-config">CarouselConfig</a></li>
      </ul>
    </li>
  </ul>

  <h2 routerLink="." fragment="usage" id="usage">Usage</h2>

  <p [innerHtml]="titleDoc"></p>

  <h2 routerLink="." fragment="examples" id="examples">Examples</h2>

  <examples [examples]="carouselExamples" [demos]="demos"></examples>

  <h2 routerLink="." fragment="api-reference" id="api-reference">API Reference</h2>
  <ng-api-doc [id]="carouselApi[0].anchor" [directive]="carouselApi[0].title"></ng-api-doc>
  <ng-api-doc [id]="carouselApi[1].anchor" [directive]="carouselApi[1].title"></ng-api-doc>
  <ng-api-doc-config [id]="carouselApi[2].anchor" [directive]="carouselApi[2].title"></ng-api-doc-config>
</demo-section>
