<ul class="nav" [ngClass]="classMap" (click)="$event.preventDefault()">
  <li *ngFor="let tab of tabs" [ngClass]="['nav-item', tab.customClass || '']"
      [class.active]="tab.active" [class.disabled]="tab.disabled">
    <a href="#" class="nav-link"
       [id]="tab.id ? tab.id + '-link' : ''"
       [class.active]="tab.active"
       [class.disabled]="tab.disabled"
       (click)="tab.active = true">
      <span>
        <ng-template *ngIf="tab.headingRef; else staticHeader"
                      [ngTemplateOutlet]="tab.headingRef">
        </ng-template>
        <ng-template #staticHeader>
          {{ tab.heading }}
        </ng-template>
      </span>
      <span *ngIf="tab.removable" (click)="$event.preventDefault(); removeTab(tab);" class="bs-remove-tab"> &#10060;</span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <ng-content></ng-content>
  <ng-template #dynamicTabsContainer></ng-template>
</div>
