<h4>Default</h4>
<n2s-rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
        [titles]="['one','two','three']"></n2s-rating>
<span class="label"
      [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
      [ngStyle]="{display: (overStar != null && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>

<pre class="card card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar != null ? overStar : "none"}}</b></pre>

<button type="button" class="btn btn-sm btn-danger" (click)="rate = 0"
        [disabled]="isReadonly">Clear
</button>
<button type="button" class="btn btn-sm btn-primary"
        (click)="isReadonly = !isReadonly">Toggle Readonly
</button>
<hr/>

<h4>Custom icons</h4>
<div>
  <n2s-rating [(ngModel)]="x" [max]="15" stateOn="glyphicon-ok-sign"
          stateOff="glyphicon-ok-circle"></n2s-rating>
  <b>(<i>Rate:</i> {{x}})</b>
</div>
<div>
  <n2s-rating [(ngModel)]="y" [ratingStates]="ratingStates"></n2s-rating>
  <b>(<i>Rate:</i> {{y}})</b>
</div>
