<div class="col-xs-6 col-md-3">
  <bs-sortable
    [(ngModel)]="itemStringsLeft"
    dropZoneId="sortable1"
    itemClass="sortable-item"
    itemActiveClass="sortable-item-active"
    placeholderItem="Oops, you can't drag here"
    wrapperClass="sortable-wrapper"
  ></bs-sortable>
  <pre>model: {{ itemStringsLeft | json }}</pre>
</div>
<div class="col-xs-6 col-md-3">
  <bs-sortable
    [(ngModel)]="itemStringsRight"
    [acceptFromZones]="['sortable1']"
    itemClass="sortable-item"
    itemActiveClass="sortable-item-active"
    wrapperClass="sortable-wrapper"
  ></bs-sortable>
  <pre>model: {{ itemStringsRight | json }}</pre>
</div>
