<div class="main">
  <!-- begin entry block -->
  <section class="entry container-fluid text-center">
    <div class="content-logo">
      <img src="assets/images/logos/content-logo.svg" alt="">
    </div>
    <h1 class="slogan">Develop better. Faster.</h1>
    <p class="descr">Bootstrap components, powered by Angular</p>
    <div class="btn-block">
      <a class="btn btn-primary" routerLink="/getting-started">Get started</a>
      <a class="btn btn-outline-secondary" href="https://github.com/valor-software/ngx-bootstrap">Github</a>
    </div>
    <p class="version">{{currentVersion}}</p>
  </section>
  <!-- end entry block -->

  <!-- begin advantages block -->
  <section class="advantages container-fluid">
    <div class="holder">
      <div class="row">

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-01.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Flexible</h4>
            <p>We put much effort making ngx-bootstrap modular so that you can implement own templates, styles, whatnot. All components are designed with extensibility and adaptivity in mind. You can expect them to work on Mobile and Desktop with the same level of performance.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-02.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Tinker-friendly code</h4>
            <p>We have incorporated a set of style guides and guidelines to enhance both code maintainability and readability. Also, we always support latest Angular versions and provide full unit-test coverage.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-03.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Good documentation</h4>
            <p>As developers ourselves, we understand the importance of documentation. Well written and continually updated documentation significantly eases up developers life and improves overall software quality. We are doing our best to provide you the most complete and easy to understand documentation out there.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-04.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>A lot of demos</h4>
            <p>While working with visually rich libraries, it is important to know what you are getting without going through installation hassle. This is why we have developed a huge set of demos for most of the component’s methods. More will follow!</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end advantages block -->

</div>
<div class="landing-footer">
  <app-footer></app-footer>
</div>

