<div class="main">
  <!-- begin entry block -->
  <section class="entry container-fluid text-center">
    <div class="content-logo">
      <img src="assets/images/logos/content-logo.svg" alt="">
    </div>
    <h1 class="slogan">Develop better. Faster.</h1>
    <p class="descr">Bootstrap components, powered by Angular</p>
    <div class="btn-block">
      <button class="btn btn-primary">Get started</button>
      <button class="btn btn-outline-secondary">Docs</button>
    </div>
    <p class="version">{{currentVersion}}</p>
  </section>
  <!-- end entry block -->

  <!-- begin advantages block -->
  <section class="advantages container-fluid">
    <div class="holder">
      <div class="row">

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-01.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Flexible</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum mollis nisi in feugiat. Maecenas est magna, sagittis eu mattis sit amet, luctus eget lectus. Proin hendrerit viverra ullamcorper.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-02.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Developer friendly code</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum mollis nisi in feugiat. Maecenas est magna, sagittis eu mattis sit amet, luctus eget lectus. Proin hendrerit viverra ullamcorper.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-03.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>Good documentation</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum mollis nisi in feugiat. Maecenas est magna, sagittis eu mattis sit amet, luctus eget lectus. Proin hendrerit viverra ullamcorper.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-wrap">
          <div class="img-holder">
            <img src="assets/images/icons/advantages-04.svg" alt="">
          </div>
          <div class="txt-holder">
            <h4>A lot of demos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum mollis nisi in feugiat. Maecenas est magna, sagittis eu mattis sit amet, luctus eget lectus. Proin hendrerit viverra ullamcorper.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end advantages block -->

</div>
<div class="landing-footer">
  <app-footer></app-footer>
</div>

