<div class="panel card" [ngClass]="panelClass">
  <div class="panel-heading card-header" role="tab"
       (click)="toggleOpen($event)">
    <div class="panel-title">
      <div class="accordion-toggle">
        <div role="button" class="btn btn-link" [attr.aria-expanded]="isOpen"
             *ngIf="heading" [ngClass]="{'text-muted': isDisabled}">
          {{ heading }}
        </div>
        <ng-content select="[accordion-heading]"></ng-content>
      </div>
    </div>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" [collapse]="!isOpen">
    <div class="panel-body card-block card-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
