<div class="panel card" [ngClass]="panelClass">
  <div class="panel-heading card-header" role="tab"
       (click)="toggleOpen($event)">
    <div class="panel-title">
      <div class="accordion-toggle">
        <a role="button" [attr.aria-expanded]="isOpen" href=""
           class="btn btn-link" *ngIf="heading" [ngClass]="{'text-muted': isDisabled}">
          {{ heading }}
        </a>
        <ng-content select="[accordion-heading]"></ng-content>
      </div>
    </div>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" [collapse]="!isOpen">
    <div class="panel-body card-block card-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
