<demo-section [name]="name" [src]="src" [componentContent]="componentContent">

  <ng-container *ngFor="let section of componentContent">
    <ng-container
      *ngComponentOutlet="section.outlet;
          injector: sectionInjections(section)">
    </ng-container>
  </ng-container>
</demo-section>

<ul>
  <li><a routerLink="." fragment="usage">Usage</a></li>
  <li><a routerLink="." fragment="examples">Examples</a>
    <ul>
      <li><a routerLink="." fragment="static">Static array</a></li>
      <li><a routerLink="." fragment="item-template">Item template</a></li>
      <li><a routerLink="." fragment="option-field">Option field</a></li>
      <li><a routerLink="." fragment="async">Async data</a></li>
      <li><a routerLink="." fragment="forms">Reactive forms</a></li>
      <li><a routerLink="." fragment="grouping-results">Grouping results</a></li>
      <li><a routerLink="." fragment="dropup">Dropup</a></li>
      <li><a routerLink="." fragment="scrollable">Scrollable</a></li>
    </ul>
  </li>
  <li><a routerLink="." fragment="api-reference">API Reference</a>
    <ul>
      <li><a routerLink="." fragment="typeahead-directive">TypeaheadDirective</a></li>
    </ul>
  </li>
</ul>
