<!-- Single button using template-url -->
<!-- <div class="btn-group" dropdown>
   <button id="button-template-url" type="button" class="btn btn-primary" dropdownToggle [disabled]="disabled">
     Dropdown using template <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" template-url="dropdown.html" aria-labelledby="button-template-url">
   </ul>
 </div> -->

<script type="text/ng-template" id="dropdown.html">
  <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
    <li role="menuitem"><a class="dropdown-item" href="#">Action in Template</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action in Template</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link in Template</a></li>
  </ul>
</script>
