<!-- days calendar view mode -->
@if (viewMode | async) {
  <div class="bs-datepicker" [ngClass]="containerClass">
    <div class="bs-datepicker-container">
      <!--calendars-->
      <div class="bs-calendar-container d-flex flex-row" role="application" >
        @for (state of complexCalendar; track state; let idx = $index) {
          <div class="bs-media-container" >
            <!--days calendar-->
            @if (state.mode === 'day') {
              <bs-days-calendar-view
                [class.bs-datepicker-multiple]="multipleCalendars"
                [calendar]="state.calendar"
                [isDisabled]="isDatePickerDisabled"
                [options]="options$ | async"
                (onNavigate)="navigateTo($event, idx)"
                (onViewMode)="setViewMode($event, idx)"
                (onHover)="dayHoverHandler($event)"
                (onHoverWeek)="weekHoverHandler($event)"
                (onSelect)="daySelectHandler($event, idx)">
              </bs-days-calendar-view>
            }
            <!--months calendar-->
            @if (state.mode === 'month') {
              <bs-month-calendar-view
                [class.bs-datepicker-multiple]="multipleCalendars"
                [calendar]="state.calendar"
                (onNavigate)="navigateTo($event, idx)"
                (onViewMode)="setViewMode($event, idx)"
                (onHover)="monthHoverHandler($event)"
                (onSelect)="monthSelectHandler($event, idx)">
              </bs-month-calendar-view>
            }
            <!--years calendar-->
            @if (state.mode === 'year') {
              <bs-years-calendar-view
                [class.bs-datepicker-multiple]="multipleCalendars"
                [calendar]="state.calendar"
                (onNavigate)="navigateTo($event, idx)"
                (onViewMode)="setViewMode($event, idx)"
                (onHover)="yearHoverHandler($event)"
                (onSelect)="yearSelectHandler($event, idx)">
              </bs-years-calendar-view>
            }
          </div>
        }
      </div>
      @if (withTimepicker) {
        <div class="bs-timepicker-in-datepicker-container d-flex justify-content-around">
          <timepicker #startTP [disabled]="isDatePickerDisabled"></timepicker>
          @if (isRangePicker) {
            <timepicker #endTP [disabled]="isDatePickerDisabled"></timepicker>
          }
        </div>
      }
      <!--applycancel buttons-->
      @if (false) {
        <div class="bs-datepicker-buttons">
          <button class="btn btn-success" type="button">Apply</button>
          <button class="btn btn-default" type="button">Cancel</button>
        </div>
      }
      @if (showTodayBtn || showClearBtn) {
        <div class="bs-datepicker-buttons">
          @if (showTodayBtn) {
            <div class="btn-today-wrapper"
              [class.today-left]="todayPos === 'left'"
              [class.today-right]="todayPos === 'right'"
              [class.today-center]="todayPos === 'center'"
              >
              <button class="btn btn-success" (click)="setToday()">{{todayBtnLbl}}</button>
            </div>
          }
          @if (showClearBtn) {
            <div class="btn-clear-wrapper"
              [class.clear-left]="clearPos === 'left'"
              [class.clear-right]="clearPos === 'right'"
              [class.clear-center]="clearPos === 'center'"
              >
              <button class="btn btn-success" (click)="clearDate()">{{clearBtnLbl}}</button>
            </div>
          }
        </div>
      }
    </div>
    <!--custom dates or date ranges picker-->
    @if (customRanges && customRanges.length > 0) {
      <div class="bs-datepicker-custom-range">
        <bs-custom-date-view
          [selectedRange]="chosenRange"
          [ranges]="customRanges"
          [customRangeLabel]="customRangeBtnLbl"
          (onSelect)="setRangeOnCalendar($event)">
        </bs-custom-date-view>
      </div>
    }
  </div>
}
