<table>
  <tbody>
  <tr class="text-center" [hidden]="!showSpinners">
    <!-- increment hours button-->
    <td>
      <a class="btn btn-link" [class.disabled]="!canIncrementHours || !isEditable || !arrowkeys"
         (click)="changeTimeOption('hours', hourStep)"
      ><span class="bs-chevron bs-chevron-up"></span></a>
    </td>
    <!-- divider -->
    <td *ngIf="showMinutes">&nbsp;&nbsp;&nbsp;</td>
    <!-- increment minutes button -->
    <td *ngIf="showMinutes">
      <a class="btn btn-link" [class.disabled]="!canIncrementMinutes || !isEditable || !arrowkeys"
         (click)="changeTimeOption('minutes', minuteStep)">
        <span class="bs-chevron bs-chevron-up"></span></a>
    </td>
    <!-- divider -->
    <td *ngIf="showSeconds">&nbsp;</td>
    <!-- increment seconds button -->
    <td *ngIf="showSeconds">
      <a class="btn btn-link" [class.disabled]="!canIncrementSeconds || !isEditable || !arrowkeys"
         (click)="changeTimeOption('seconds', secondsStep)">
        <span class="bs-chevron bs-chevron-up"></span>
      </a>
    </td>
    <!-- space between -->
    <td *ngIf="showMeridian">&nbsp;&nbsp;&nbsp;</td>
    <!-- meridian placeholder-->
    <td *ngIf="showMeridian"></td>
  </tr>
  <tr>
    <!-- hours -->
    <td class="form-group" [class.has-error]="ngControl.hasError('hours')">
      <input type="text" [class.is-invalid]="ngControl.hasError('hours')"
             class="form-control text-center bs-timepicker-field"
             placeholder="HH"
             maxlength="2"
             #hoursRef
             [value]="hours"
             [disabled]="disabled"
             [readonly]="readonlyInput"
             (wheel)="prevDef($event);changeTimeOption('hours', hourStep * wheelSign($event), 'wheel')"
             (keydown.ArrowUp)="changeTimeOption('hours', hourStep, 'key')"
             (keydown.ArrowDown)="changeTimeOption('hours', -hourStep, 'key')"
             (change)="onChanged($event.target.value, minutes, seconds)"></td>
    <!-- divider -->
    <td *ngIf="showMinutes">&nbsp;:&nbsp;</td>
    <!-- minutes -->
    <td class="form-group" *ngIf="showMinutes" [class.has-error]="ngControl.hasError('minutes')">
      <input type="text" [class.is-invalid]="ngControl.hasError('minutes')"
             class="form-control text-center bs-timepicker-field"
             placeholder="MM"
             maxlength="2"
             #minutesRef
             [value]="minutes"
             [disabled]="disabled"
             [readonly]="readonlyInput"
             (wheel)="prevDef($event);changeTimeOption('minutes', minuteStep * wheelSign($event), 'wheel')"
             (keydown.ArrowUp)="changeTimeOption('minutes', minuteStep, 'key')"
             (keydown.ArrowDown)="changeTimeOption('minutes', -minuteStep, 'key')"
             (change)="onChanged(hours, $event.target.value, seconds)">
    </td>
    <!-- divider -->
    <td *ngIf="showSeconds">&nbsp;:&nbsp;</td>
    <!-- seconds -->
    <td class="form-group" *ngIf="showSeconds" [class.has-error]="ngControl.hasError('seconds')">
      <input type="text" [class.is-invalid]="ngControl.hasError('seconds')"
             class="form-control text-center bs-timepicker-field"
             placeholder="SS"
             maxlength="2"
             #secondsRef
             [value]="seconds"
             [disabled]="disabled"
             [readonly]="readonlyInput"
             (wheel)="prevDef($event);changeTimeOption('seconds', secondsStep * wheelSign($event), 'wheel')"
             (keydown.ArrowUp)="changeTimeOption('seconds', secondsStep, 'key')"
             (keydown.ArrowDown)="changeTimeOption('seconds', -secondsStep, 'key')"
             (change)="onChanged(hours, minutes, $event.target.value)">
    </td>
    <!-- space between -->
    <td *ngIf="showMeridian">&nbsp;&nbsp;&nbsp;</td>
    <!-- meridian -->
    <td *ngIf="showMeridian">
      <button type="button" class="btn btn-default text-center"
              [disabled]="!isEditable || !canToggleMeridian"
              [class.disabled]="!isEditable || !canToggleMeridian"
              (click)="toggleMeridian()"
      >{{ meridian }}
      </button>
    </td>
  </tr>
  <tr class="text-center" [hidden]="!showSpinners">
    <!-- decrement hours button-->
    <td>
      <a class="btn btn-link" [class.disabled]="!canDecrementHours || !isEditable || !arrowkeys"
         (click)="changeTimeOption('hours', -hourStep)">
        <span class="bs-chevron bs-chevron-down"></span>
      </a>
    </td>
    <!-- divider -->
    <td *ngIf="showMinutes">&nbsp;&nbsp;&nbsp;</td>
    <!-- decrement minutes button-->
    <td *ngIf="showMinutes">
      <a class="btn btn-link" [class.disabled]="!canDecrementMinutes || !isEditable || !arrowkeys"
         (click)="changeTimeOption('minutes', -minuteStep)">
        <span class="bs-chevron bs-chevron-down"></span>
      </a>
    </td>
    <!-- divider -->
    <td *ngIf="showSeconds">&nbsp;</td>
    <!-- decrement seconds button-->
    <td *ngIf="showSeconds">
      <a class="btn btn-link" [class.disabled]="!canDecrementSeconds || !isEditable || !arrowkeys"
         (click)="changeTimeOption('seconds', -secondsStep)">
        <span class="bs-chevron bs-chevron-down"></span>
      </a>
    </td>
    <!-- space between -->
    <td *ngIf="showMeridian">&nbsp;&nbsp;&nbsp;</td>
    <!-- meridian placeholder-->
    <td *ngIf="showMeridian"></td>
  </tr>
  </tbody>
</table>
