<h4>Single toggle</h4>
<pre class="card card-block card-header">{{singleModel}}</pre>
<button type="button" class="btn btn-primary"
        [(ngModel)]="singleModel" btn-checkbox
        btn-checkbox-true="1" btn-checkbox-false="0">
  Single Toggle
</button>
<h4>Checkbox</h4>
<pre class="card card-block card-header">
  Starting from ng2 0.40 this will work only with immutable objects
  Model: {{checkModel | json}}</pre>
<pre class="card card-block card-header">
Left: {{checkModel.left}}
Middle: {{checkModel.middle}}
Right: {{checkModel.right}}</pre>
<!--<pre class="card card-block card-header">Results: {{checkResults}}</pre>-->
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="checkModel.left" btn-checkbox>Left</label>
  <label class="btn btn-primary" [(ngModel)]="checkModel.middle" btn-checkbox>Middle</label>
  <label class="btn btn-primary" [(ngModel)]="checkModel.right" btn-checkbox>Right</label>
</div>
<h4>Radio &amp; Uncheckable Radio</h4>
<pre class="card card-block card-header">{{radioModel || 'null'}}</pre>
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Left">Left</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">Middle</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Right">Right</label>
</div>
<div class="btn-group">
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Left" uncheckable>Left</label>
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Middle" uncheckable>Middle</label>
  <label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Right" uncheckable>Right</label>
</div>
