<p>
  <button type="button" class="btn btn-primary btn-sm"
          (click)="status['open'] = !status['open']">Toggle last panel
  </button>
  <button type="button" class="btn btn-primary btn-sm"
          (click)="status['isFirstDisabled'] = ! status['isFirstDisabled']">Enable / Disable first panel
  </button>
</p>

<div class="checkbox">
  <label>
    <input type="checkbox" [(ng-model)]="oneAtATime">
    Open only one at a time
  </label>
</div>
<n2s-accordion [close-others]="oneAtATime">
  <n2s-accordion-panel heading="Static Header, initially expanded"
                   [is-open]="status['isFirstOpen']"
                   [is-disabled]="status['isFirstDisabled']">
    This content is straight in the template.
  </n2s-accordion-panel>
  <n2s-accordion-panel heading="{{group['title']}}" *ngFor="#group of groups">
    {{group['content']}}
  </n2s-accordion-panel>
  <n2s-accordion-panel heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add Item</button>
    <div *ngFor="#item of items">{{item}}</div>
  </n2s-accordion-panel>
  <n2s-accordion-panel [(isOpen)]="status['open']">
    <n2s-accordion-heading>
      I can have markup, too!
      <i class="pull-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': status['open'], 'glyphicon-chevron-right': !status['open']}"></i>
    </n2s-accordion-heading>
    This is just some content to illustrate fancy headings.
  </n2s-accordion-panel>
</n2s-accordion>
