<demo-section [name]="name" [src]="src" [componentContent]="componentContentData">
  <tabset>
    <tab heading="Overview" (select)="changeContent('new')">
      <br>
      <p>Datepicker is a highly configurable component that adds datepicker functionality to your pages. You can
        customize the date format and language, restrict the selectable date ranges.</p>

      <ng-container *ngFor="let section of componentContent">
        <ng-container
          *ngComponentOutlet="section.outlet;
          injector: sectionInjections(section)">
        </ng-container>
      </ng-container>
    </tab>

    <!-- Old datepicker part-->
    <tab heading="Old" (select)="changeContent('old')">
      <br>
      <p>This is a legacy version of datepicker without support of daterangepicker, locales, themes, etc.</p>

      <ng-container *ngFor="let section of componentContentOld">
        <ng-container
          *ngComponentOutlet="section.outlet;
          injector: sectionInjections(section)">
        </ng-container>
      </ng-container>
    </tab>
  </tabset>


</demo-section>
