<div (mouseenter)="pause()"
  (mouseleave)="onMouseLeave()"
  (mouseup)="onMouseUp()"
  (keydown)="keydownPress($event)"
  (focusin)="pauseFocusIn()"
  (focusout)="pauseFocusOut()"
  [id]="'carousel' + currentId"
  class="carousel slide" tabindex="0">
  @if (!_bsVer.isBs5 && showIndicators && slides.length > 1) {
    <ol class="carousel-indicators">
      @for (slide of indicatorsSlides(); track slide; let i = $index) {
        <li
          [class.active]="slide.active === true"
          (click)="selectSlide(i)">
        </li>
      }
    </ol>
  }
  @if (_bsVer.isBs5 && showIndicators && slides.length > 1) {
    <div class="carousel-indicators">
      @for (slide of indicatorsSlides(); track slide; let i = $index) {
        <button
          [class.active]="slide.active === true"
          (click)="selectSlide(i)"
          type="button"
          [attr.data-bs-target]="'#carousel' + currentId"
          [attr.data-bs-slide-to]="i" aria-current="true"
          >
        </button>
      }
    </div>
  }
  <div class="carousel-inner" [ngStyle]="{'display': multilist ? 'flex' : 'block'}">
    <ng-content></ng-content>
  </div>
  @if (slides.length > 1) {
    <a class="left carousel-control carousel-control-prev"
      href="javascript:void(0);"
      [class.disabled]="checkDisabledClass('prev')"
      [attr.data-bs-target]="'#carousel' + currentId"
      (click)="previousSlide()"
      tabindex="0" role="button">
      <span class="icon-prev carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only visually-hidden">Previous</span>
    </a>
  }

  @if (slides.length > 1) {
    <a class="right carousel-control carousel-control-next"
      href="javascript:void(0);"
      (click)="nextSlide()"
      [class.disabled]="checkDisabledClass('next')"
      [attr.data-bs-target]="'#carousel' + currentId"
      tabindex="0" role="button">
      <span class="icon-next carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only visually-hidden">Next</span>
    </a>
  }
</div>
