<div class="content-header">
  <h1>{{name}}
    <a [href]="src" target="_blank">
      <img src="assets/images/link-doc.png" alt=""/>
    </a>
  </h1>
</div>

<div id="content" class="content-box">
  <!-- remove this -->
  <p class="description" [innerHTML]="titleDoc" *ngIf="titleDoc"></p>

  <div id="example" class="section">
    <div class="item">
      <ng-content></ng-content>
    </div>
  </div>

  <!-- remove this -->
  <div id="markup" class="section" *ngIf="html || ts">
    <h3>Markup</h3>

    <div class="item">
      <tabset>
        <tab heading="Markup" *ngIf="html">
          <pre class="prettyprint linenums lang-html">{{html}}</pre>
        </tab>
        <tab heading="TypeScript" *ngIf="ts">
          <pre class="prettyprint linenums lang-js">{{ts}}</pre>
        </tab>
      </tabset>
    </div>
  </div>

  <!-- remove this -->
  <div id="api" class="section" *ngIf="doc">
    <h3>Api</h3>
    <div class="item list-container" [innerHTML]="doc" ngNonBindable></div>
  </div>
</div>
