<demo-section [name]="name" [src]="src" [componentContent]="componentContent">
  <p>Displays collapsible content panels for presenting information in a limited amount of space</p>
  <p>The <strong>accordion component</strong> builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.</p>

  <h2>Contents</h2>
  <ul>
    <li><a routerLink="." fragment="usage">Usage</a></li>
    <li><a routerLink="." fragment="examples">Examples</a>
      <ul>
        <li><a routerLink="." fragment="simple">Simple accordion</a></li>
        <li><a routerLink="." fragment="disabled">Disabled</a></li>
        <li><a routerLink="." fragment="dynamic">Dynamic accordion</a></li>
        <li><a routerLink="." fragment="one-time">Open only one at a time</a></li>
        <li><a routerLink="." fragment="styling">Styling</a></li>
        <li><a routerLink="." fragment="config">Configuring defaults</a></li>
      </ul>
    </li>
    <li><a routerLink="." fragment="api-reference">API Reference</a>
      <ul>
        <li><a routerLink="." fragment="accordion-panel-component">AccordionPanelComponent</a></li>
        <li><a routerLink="." fragment="accordion-config">AccordionConfig</a></li>
      </ul>
    </li>
  </ul>

  <h2 routerLink="." fragment="usage" id="usage">Usage</h2>
  <p [innerHtml]="titleDoc"></p>

  <h2 routerLink="." fragment="examples" id="examples">Examples</h2>
  <p>Click headers to expand/collapse content that is broken into logical sections, much like tabs.</p>
  <examples [examples]="examples" [demos]="demos"></examples>

  <h2 routerLink="." fragment="api-reference" id="api-reference">API Reference</h2>
  <api-sections [apiSections]="apiSections"></api-sections>
</demo-section>
