<demo-section [name]="name" [src]="src" [componentContent]="componentContent">
  <p>Displays collapsible content panels for presenting information in a limited amount of space</p>
  <p>The <strong>accordion component</strong> builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.</p>

  <ng-container *ngFor="let section of componentContent">
    <ng-container
      *ngComponentOutlet="section.outlet;
      injector: sectionInjections(section)">
    </ng-container>
  </ng-container>
</demo-section>
