<div class="row">
  <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
    <input class="form-control"
           placeholder="Datepicker"
           ngModel
           bsDatepicker
           [customDates]="customDatesForDatePicker">
  </div>
  <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
    <input class="form-control"
           placeholder="Daterangepicker"
           ngModel
           bsDaterangepicker
           [customDates]="customDatesForDateRangePicker">
  </div>
</div>
