<demo-section [name]="name" [src]="src" [titleDoc]="titleDoc">
<style>
  .sortable-item {
    padding: 6px 12px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    cursor: grab;
    background-color: #bfe7f9;
    color: #1494d0;
  }

  .sortable-item-active {
    background-color: #1494d0;
    color: #fff;
  }

  .sortable-item-disabled {
    background-color: #e7f2f7;
    color: #1494d0;
  }

  .sortable-item-ghost {
    background-color: #f9f9f9;
    display: table;
    font-size: 14px;
  }

  .sortable-item-ghost td {
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 8px;
    line-height: 20px;
    display: table-cell;
  }

  .sortable-wrapper {
    min-height: 150px;
  }

  .sortable-item-placeholder {
    padding: 6px 12px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    cursor: grab;
    border: 1px solid #adadad;
  }

  .custom-item-template {
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0;
    display: inline-block;
  }

  @media (max-width: 992px) {
    .custom-item-template {
      width: 50%;
    }

    .hide-on-mobile {
      display: none;
    }
  }

  img {
    max-width: 300px;
  }
</style>
  <h2>Contents</h2>
  <ul>
    <li><a routerLink="." fragment="usage">Usage</a></li>
    <li><a routerLink="." fragment="examples">Examples</a>
      <ul>
        <li><a routerLink="." fragment="stringItems">String items</a></li>
        <li><a routerLink="." fragment="oneWay">One way drag</a></li>
        <li><a routerLink="." fragment="complexDatamodel">Complex datamodel</a></li>
        <li><a routerLink="." fragment="itemTemplate">Custom item template</a></li>
        <li><a routerLink="." fragment="directivesUsage">Directives usage</a></li>
      </ul>
    </li>
    <li><a routerLink="." fragment="api-reference">API Reference</a>
      <ul>
        <li><a routerLink="." fragment="sortable-component">SortableComponent</a></li>
        <li><a routerLink="." fragment="dropZoneDirective">DropZoneDirective</a></li>
        <li><a routerLink="." fragment="draggableElementDirective">DraggableElementDirective</a></li>
      </ul>
    </li>
  </ul>

  <h2 routerLink="." fragment="usage" id="usage">Usage</h2>

  <p [innerHtml]="usageDoc"></p>

  <h2 routerLink="." fragment="examples" id="examples">Examples</h2>

  <h2 routerLink="." fragment="stringItems" id="stringItems">String items:</h2>
  <p>All items could be freely dragged between sortable containers with the same <code>dropZoneGroup</code> property</p>
  <ng-sample-box [ts]="demos.simpleItems.component" [html]="demos.simpleItems.html">
    <simple-items-demo></simple-items-demo>
  </ng-sample-box>

  <h2 routerLink="." fragment="oneWay" id="oneWay">One way drag:</h2>
  <p>By default sortable container rejects any external item but it is possible to allow to drag items from specific containers using <code>acceptFromZones</code> property</p>
  <ng-sample-box [ts]="demos.oneWay.component" [html]="demos.oneWay.html">
    <one-way-demo></one-way-demo>
  </ng-sample-box>

  <h2 routerLink="." fragment="complexDatamodel" id="complexDatamodel">Complex data model:</h2>
  <p>Normally sortable container displays items as strings but it is also possible to display value of specific item's property using <code>fieldName</code> property</p>
  <ng-sample-box [ts]="demos.complexDatamodel.component" [html]="demos.complexDatamodel.html">
    <complex-datamodel-demo></complex-datamodel-demo>
  </ng-sample-box>

  <h2 routerLink="." fragment="itemTemplate" id="itemTemplate">Custom item template:</h2>
  <p>Often it is necessary to specify more complex template for the draggable items you can do it using <code>itemTemplate</code> property</p>
  <ng-sample-box [ts]="demos.itemTemplate.component" [html]="demos.itemTemplate.html">
    <custom-item-template-demo></custom-item-template-demo>
  </ng-sample-box>

  <h2 routerLink="." fragment="directivesUsage" id="directivesUsage">Directives usage:</h2>
  <p>Also you can add a couple of directives to your table or another collection to make it sortable. For example it is the only way to make table sortable since it is impossible to do via custom template above.</p>
  <ng-sample-box [ts]="demos.directivesUsage.component" [html]="demos.directivesUsage.html">
    <directives-usage-demo></directives-usage-demo>
  </ng-sample-box>

  <h2 routerLink="." fragment="api-reference" id="api-reference">API Reference</h2>
  <ng-api-doc id="sortable-component" directive="SortableComponent"></ng-api-doc>
  <ng-api-doc id="dropZoneDirective" directive="DropZoneDirective"></ng-api-doc>
  <ng-api-doc id="draggableElementDirective" directive="DraggableElementDirective"></ng-api-doc>
</demo-section>
