<h4>Single toggle</h4>
<pre class="card card-block card-header">{{singleModel}}</pre>
<ns-btn-checkbox class="btn btn-primary"
        [(ng-model)]="singleModel"
        true-value="0" false-value="1">
  Single Toggle
</ns-btn-checkbox>
<h4>Checkbox</h4>
<pre class="card card-block card-header">
  Left: {{checkModel['left']}},
  Middle: {{checkModel['middle']}},
  Right: {{checkModel['right']}}
</pre>
<div class="btn-group">
  <ns-btn-checkbox class="btn btn-primary" [(ng-model)]="checkModel['left']" >Left</ns-btn-checkbox>
  <ns-btn-checkbox class="btn btn-primary" [(ng-model)]="checkModel['middle']">Middle</ns-btn-checkbox>
  <ns-btn-checkbox class="btn btn-primary" [(ng-model)]="checkModel['right']" >Right</ns-btn-checkbox>
</div>
<h4>Radio &amp; Uncheckable Radio</h4>
<pre class="card card-block card-header">{{radioModel}}</pre>
<div class="btn-group">
  <ns-btn-radio class="btn btn-primary" [(ng-model)]="radioModel" option="Left">Left</ns-btn-radio>
  <ns-btn-radio class="btn btn-primary" [(ng-model)]="radioModel" option="Middle">Middle</ns-btn-radio>
  <ns-btn-radio class="btn btn-primary" [(ng-model)]="radioModel" option="Right">Right</ns-btn-radio>
</div>
<div class="btn-group">
  <ns-btn-radio class="btn btn-success" [(ng-model)]="radioModel" option="Left" [uncheckable]="false">Left</ns-btn-radio>
  <ns-btn-radio class="btn btn-success" [(ng-model)]="radioModel" option="Middle" [uncheckable]="false">Middle</ns-btn-radio>
  <ns-btn-radio class="btn btn-success" [(ng-model)]="radioModel" option="Right" [uncheckable]="false">Right</ns-btn-radio>
</div>
